.idea/
.run/
target/
mvnw
mvnw.cmd
*.iml

.classpath
.factorypath
.project
.settings/
.vscode/
.gradle/
bin/

!build/
**/build/*
!**/build/generated-src/

.DS_Store

**/out/*
**/machinet.conf

*.env

**/.kube/*
**/.kuberlr/*
**/integration-tests/out/*

Library
.java-version
