image:
  repository: onehouse/lake-view
  pullPolicy: Always
  # Release version to use
  tag: release-v0.15.0

# Config yaml to be provided to the extractor. Refer to readme for the format of the config file
# not required if config path is being provided
config: {}

# path to the config file in the pod filesystem
# not required if config is directly provided in previous field
configPath: ""

# specified whether to deploy the extractor as a job or deployment
# deploying as a job is recommended when using ONCE mode
deployAsJob: false

# Pod resources
resources:
  limits:
    cpu: 1000m
    memory: 700Mi
  requests:
    cpu: 700m
    memory: 300Mi

# environment variables if any
env: {}
