<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.contrib.json.classic.JsonLayout">
            <jsonFormatter class="ch.qos.logback.contrib.jackson.JacksonJsonFormatter" />
            <timestampFormat>yyyy-MM-dd' 'HH:mm:ss.SSS</timestampFormat>
            <appendLineSeparator>true</appendLineSeparator>
        </layout>
    </appender>

    <logger name="software.amazon" level="info"/>
    <logger name="com.google.cloud" level="info"/>
    <logger name="io.netty" level="info"/>

    <root level="info">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>