name: build-adhoc-assets

on:
  pull_request_review:
    types: [ submitted ]

permissions:
  id-token: write
  contents: read

jobs:
  generate-tags:
    if: contains(github.event.review.body, '/push-image') || contains(github.event.review.body, '/push-jar')
    runs-on: ubuntu-latest
    outputs:
      tags: ${{ steps.tags.outputs.tags }}
    steps:
      - name: Parse tag for image
        if: contains(github.event.review.body, '/push-image')
        run: echo "IMAGE_TAG=$(echo ${{ github.event.review.body }} | sed -e s/\\/push-image\ //)" >> $GITHUB_ENV
      - name: Parse tag for jar
        if: contains(github.event.review.body, '/push-jar')
        run: echo "JAR_TAG=$(echo ${{ github.event.review.body }} | sed -e s/\\/push-jar\ //)" >> $GITHUB_ENV
      - name: Fail if adhoc image or jar uses reserved tag or is empty
        if: contains(env.IMAGE_TAG, 'release-v') || env.IMAGE_TAG == 'latest' || contains(env.JAR_TAG, 'release-v') || env.JAR_TAG == 'latest' || (env.JAR_TAG == '' && env.IMAGE_TAG == '')
        run: exit 1
      - id: tags
        run: echo "tags=$IMAGE_TAG$JAR_TAG" >> $GITHUB_OUTPUT

  build-docker-images:
    if: ${{ github.event.issue.pull_request }} && contains(github.event.comment.body, '/push-image')
    needs: generate-tags
    uses: ./.github/workflows/build-images.yaml
    secrets: inherit
    with:
      tags: ${{needs.generate-tags.outputs.tags}}
  build-jar:
    if: ${{ github.event.issue.pull_request }} && contains(github.event.comment.body, '/push-image')
    needs: generate-tags
    uses: ./.github/workflows/build-jar.yaml
    secrets: inherit
    with:
      tags: ${{needs.generate-tags.outputs.tags}}