name: build-jar

on:
  workflow_call:
    inputs:
      tags:
        required: true
        type: string

jobs:
  build-and-release:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Set up JDK 8
        uses: actions/setup-java@v2
        with:
          java-version: '8'
          distribution: 'adopt'

      - name: Build with Gradle
        run: ./gradlew build

      - name: Create release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ (startsWith(inputs.tags, 'release-') || (inputs.tags == 'latest')) && 'prod' || 'dev' }}-${{ github.run_number }}
          release_name: ${{ (startsWith(inputs.tags, 'release-') || (inputs.tags == 'latest')) && 'Stable Release' || 'Development Release' }}
          draft: false
          prerelease: ${{ !(startsWith(inputs.tags, 'release-') || (inputs.tags == 'latest')) }}

      - name: Set input tag
        run: echo "INPUT_TAG=${{ inputs.tags }}" >> $GITHUB_ENV

      - name: Upload JAR files to Release
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: lakeview/build/libs/LakeView-1.0-SNAPSHOT-all.jar
          asset_name: LakeView-${{ env.INPUT_TAG }}-all.jar
          asset_content_type: application/java-archive

      - name: Upload JAR files to Release
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: lakeview/build/libs/LakeView-1.0-SNAPSHOT-sources.jar
          asset_name: LakeView-${{ env.INPUT_TAG }}-sources.jar
          asset_content_type: application/java-archive
